body {
  font-family: 'Lato', 'Arial', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
}

.wrapper {
  max-width: 1600px;
  max-width: 0 auto;
  min-height: 100vh;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  width: 83.6%;
  margin: 0 auto;
}

.search {
  display: none;
}

.display-block {
  display: block;
}

.wrp {
  width: 100%;
  height: 100px;
  background: red;
  display: none;
}

[type="text"], [type="email"], [type="login"] {
  width: 322px;
  height: 49px;
  opacity: 1.2;
  background: transparent;
  box-sizing: border-box;
  border: 1px solid #5c5cfd;
  color: black;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.04em;
  margin: 8px 0 20px;
  padding: 15px;
}

[type="submit"] {
  color: #FFFFFF;
  padding: 16px 66px 17px 29px;
  background-color: #F16D7F;
  text-transform: uppercase;
  border: none;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  background-color: #222222;
  /*.header__burger:hover .header-navigation {
            display: block;
    }
    .header-navigation:hover  {
        display: block;
    }*/
}

.header__icon {
  fill: #c5c5c5;
}

.header .header__wrapper {
  min-height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header .header__wrapper--logo {
  display: flex;
  align-items: center;
}

.header .logo {
  margin: 0 41px 0 0;
}

.header .header__list {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.header .header__navigation {
  position: absolute;
  width: 232px;
  height: 764px;
  display: none;
  left: 909px;
  top: 75px;
  background-color: #fff;
}

.header .list {
  text-align: center;
}

.header .header__navigation--heading {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
  text-transform: uppercase;
}

.header .list__heading {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  text-transform: uppercase;
  color: #F1E4E6;
}

.header .header__list--button {
  background-color: transparent;
  fill: #F16D7F;
  border: none;
  margin: 0 0 0 33px;
}

.header .header__list--button:hover .header__icon {
  fill: #F1E4E6;
  cursor: pointer;
}

@media (max-width: 375px) {
  .mobile-hide {
    display: none;
  }
}

.advantages {
  min-height: 341px;
  background: #000;
  margin-top: 95.5px;
}

.advantages__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.advantages__item {
  padding: 0 15px 0 0;
  width: 47%;
}

.advatages__img {
  align-items: center;
  padding: 103px 0 0 165px;
}

.advantages__heading {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #FBFBFB;
  text-align: center;
  padding-top: 28px;
}

.advantages__text {
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
  padding: 16px 30px 0;
  color: #FBFBFB;
  text-align: center;
}

@media (max-width: 768px) {
  .advantages__list {
    flex-direction: column;
    padding-bottom: 64px;
  }
  .advatages__img {
    padding-top: 48px;
  }
}

.featured__heading {
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 6px;
  text-align: center;
}

.featured__text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
}

.featured__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 48px 0 0;
  margin: 0 0 48px;
}

.featured__item {
  width: 360px;
  min-height: 581px;
  background: #F8F8F8;
  position: relative;
  margin: 0 0 16px 0;
}

.featured__item:hover .featured__card {
  display: block;
}

.featured__item:hover .featured__button {
  display: block;
}

.featured__card {
  display: none;
}

.featured__card:hover {
  display: block;
}

.overlay {
  width: 360px;
  height: 420px;
  background: rgba(58, 56, 56, 0.86);
  position: absolute;
  top: 0;
}

.featured__button {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  background-color: transparent;
  border: 2px solid white;
  padding: 10px 35px;
  overflow: hidden;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  color: white;
}

.featured__button::before {
  font-family: FontAwesome;
  content: "\f07a";
  position: absolute;
  top: 11px;
  left: -30px;
  transition: all 200ms ease;
}

.featured__button:hover::before {
  left: 7px;
}

.featured__btn {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
  margin: 33%;
  padding: 14.5px 38.5px;
  border: 1px solid #FF6A6A;
  color: #F16D7F;
}

@media (max-width: 768px) {
  .featured__list {
    justify-content: space-around;
  }
}

.footer-wrapper {
  display: flex;
  height: 448px;
  background-image: url(../img/subscribe.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__speaker {
  display: flex;
  flex-direction: column;
  width: 22.5%;
  height: 225px;
  margin: 97px 0 126px 230px;
}

.footer__img {
  padding-left: 87px;
}

.footer__text {
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  align-items: center;
  text-align: center;
}

.footer__bottom {
  background: #000;
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
}

.footer__copytext {
  padding: 30px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  color: #FBFBFB;
}

.footer__social {
  display: flex;
  justify-content: end;
  padding-top: 24px;
}

.footer__social_btn {
  padding: 0 7px 0 0;
}

.footer__form {
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 142px;
  margin: 150px 230px 156px;
}

.footer__appeal {
  display: flex;
  text-align: center;
}

.footer__subtext {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  text-transform: uppercase;
}

.footer__subtext--two {
  display: block;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.footer__input {
  display: block;
  justify-content: center;
}

@media (max-width: 768px) {
  .footer-wrapper {
    width: 100%;
    flex-direction: column;
  }
  .footer__speaker {
    margin-top: 64px;
    width: 57%;
  }
  .footer__img {
    padding: 0 0 10px 119px;
  }
  .footer__text {
    width: 359px;
    height: 99px;
  }
  .footer__form {
    height: 137px;
    margin-top: 48px;
  }
}

.intro {
  display: flex;
}

.intro .intro__heading-wrapper {
  width: 100%;
  background-color: #F1E4E6;
  display: flex;
  align-items: center;
  padding: 0 0 0 40px;
}

.intro .intro__heading {
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
}

.intro .intro__text {
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  font-style: normal;
  display: block;
}

.intro .intro__pink {
  color: #F16D7F;
}

.intro .intro__img {
  width: 50%;
  height: auto;
}

.reg-bar {
  display: block;
  min-height: 148px;
  color: #F1E4E6;
}

.reg-bar__text {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  color: #F16D7F;
  text-transform: uppercase;
  padding: 59px 0 60px 230px;
}

.reg {
  display: flex;
  justify-content: space-between;
  min-height: 675px;
  background-color: #fff;
}

.reg__form {
  padding-right: 125px;
}

.reg__title {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 39px;
}

.reg-form__advantages {
  position: relative;
}

.reg-form__heading {
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 29px;
  padding-bottom: 22px;
  text-transform: uppercase;
  color: #222222;
}

.reg-form__text {
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 29px;
  padding-bottom: 21px;
  color: #222222;
}

.reg-form__text-second {
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: 16px;
  color: #B1B1B1;
}

.reg__radio {
  display: flex;
  padding: 31px 0 33px 0;
}

.list__item {
  position: relative;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 29px;
  padding-bottom: 16px;
  color: #222222;
}

.list__item::before {
  top: 5px;
  left: -42px;
  content: url("../img/done.svg");
  position: absolute;
}

@media (max-width: 768px) {
  .reg-form__heading {
    font-size: 16px;
    line-height: 19.2px;
    padding-bottom: 32px;
  }
  .reg-form__text {
    font-size: 16px;
    line-height: 19.2px;
    padding-bottom: 21px;
  }
}

.stock__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 64px 0 0;
  margin-bottom: 0 0 98px;
}

.stock__list .stock__item {
  width: 32%;
  min-height: 360px;
  text-align: center;
}

.stock__list .stock__item--woman {
  background-image: url(../img/stock-img-1.jpg);
  background-repeat: no-repeat;
}

.stock__list .stock__item--man {
  background-image: url(../img/stock-img-2.jpg);
  background-repeat: no-repeat;
}

.stock__list .stock__item--kid {
  background-image: url(../img/stock-img-3.jpg);
  background-repeat: no-repeat;
}

.stock__list .stock__item--shoes {
  background-image: url(../img/stock-img-4.jpg);
  background-repeat: no-repeat;
  margin-top: 30px;
  width: 100%;
}

.stock__list .stock__item .stock__heading {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  color: ffffff;
  text-transform: uppercase;
  padding: 105px 0 0 0;
}

.stock__list .stock__item .stock__text {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
  color: #F16D7F;
  text-transform: uppercase;
  padding: 0 0 105px 0;
}

.stock__list .stock__item .stock__heading--two {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  color: ffffff;
  text-transform: uppercase;
  padding: 65px 0 0 0;
}

.stock__list .stock__item .stock__text--two {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
  color: #F16D7F;
  text-transform: uppercase;
  padding: 0 0 65px 0;
}
/*# sourceMappingURL=style.css.map */