.footer-wrapper {
    display: flex;
    height: 448px;
    background-image: url(./img/subscribe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.footer__img {
    padding: 86px 0 0 335px;
}
.footer__text {
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 126px 230px;
    padding: 15px 50px 0 50px;
    align-items: center;
}
.footer__bottom {
    background: #000;
}
.footer__copyright {
    display: flex;
    justify-content: space-between;
}
.footer__copytext {
    padding: 30px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    color:#FBFBFB;
}
.footer__social { 
    display: flex;
    justify-content: end;
    padding-top: 24px;
}
.footer__social_btn {
    padding: 0 7px 0 0;
}
.footer__form {
    display: flex;
    flex-direction:column;
    justify-content: center;
}
.footer__appeal {
    display: flex;
    text-align: center;
}
.footer__subtext {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    text-transform: uppercase;
}
.footer__subtext--two {
    display: block;  
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
}
.footer__input {
    display: block;
    justify-content: center;
}