.footer-wrapper {
    display: flex;
    height: 448px;
    background-image: url(../img/subscribe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.footer__speaker {
    display: flex;
    flex-direction: column;
    width: 22.5%;
    height: 225px;
    margin: 97px 0 126px 230px;
}
.footer__img {
    padding-left: 87px;
}
.footer__text {
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
    align-items: center;
    text-align: center;
}
.footer__bottom {
    background: #000;
}
.footer__copyright {
    display: flex;
    justify-content: space-between;
}
.footer__copytext {
    padding: 30px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    color:#FBFBFB;
}
.footer__social { 
    display: flex;
    justify-content: end;
    padding-top: 24px;
}
.footer__social_btn {
    padding: 0 7px 0 0;
}
.footer__form {
    display: flex;
    flex-direction:column;
    width: 35%;
    height: 142px;
    margin: 150px 230px 156px;
}
.footer__appeal {
    display: flex;
    text-align: center;
}
.footer__subtext {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    text-transform: uppercase;
}
.footer__spantext {
    display: block;  
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
}
.footer__input {
    display: block;
    justify-content: center;
}
@media (max-width: $tablet-width){
    .footer-wrapper{
        width: 100%;
        flex-direction:column;
    }
    .footer__speaker { 
        margin-top: 64px;
        width: 57%;   
    }
    .footer__img {
        padding: 0 0 10px 119px;
    }
    .footer__text {
        width: 359px;
        height: 99px;
    }
    .footer__form {
       height: 137px;
       margin-top: 48px;
     }

}