    .header {
        background-color: $black-color;
        
        &__icon {
            fill: $gray-color;
        }
    .header__wrapper {
        min-height: 75px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }
    .header__wrapper_logo {
        display: flex;
        align-items: center;
    }
    .logo-img {
        margin: 0 41px 0 0;
    }
    .header__list {
        display: flex;
        justify-content: flex-end;
        position: relative;
    }
    .header__navigation {
        position: absolute;
        width: 232px;
        height: 764px;
        left: 909px;
        top: 75px;
        background-color: $white-color;
        outline: $primary-color;
        display: none;
    }
    .list {
        text-align: center;
    }
    .header__navigation_heading {
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 17px;
        text-transform: uppercase;
    }
    .list__heading {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px;
        text-transform: uppercase;
        color: $pink-color;
    }
    .header__list_button {
        background-color: transparent;
        fill: $pink-dark-color;
        border: none;
        margin: 0 0 0 33px;
        
        &:hover .header__icon {
            fill: $pink-color;
            cursor: pointer;
        }
    }
    // .header__list_burger:hover .header-navigation {
    //         display: block;
    // }
    // .header-navigation:hover  {
    //     display: block;
    // }
}
@media (max-width: $mobile-width) {
    .mobile-hide { 
        display: none;
    }
}
   